{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %} Buk Clinic {% endblock title %}</title>
  
    
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  {% block extra_head %} 
    
  {% endblock extra_head %}
  <style type="text/css">
    html,
    body,
    header
    
    {
      height: 60vh;
    }
    
    .carousel {
      height: 600px;
    }

    @media (max-width: 740px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

  </style>
</head>

{% include "core/navbar.html" %}

<body class="bg-light" id="page-top"> 
    
    <hr class="my-3" />
    {% block content %}
    {% endblock content %}

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top btn btn-floating btn-large rounded-pill bg-warning float-end" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    
    {% block extra_body %}
    {% endblock extra_body %}
    <div class="clearfix"> </div>
    {% include "core/footer.html" %}


    
    {% block extra_scripts %}
    {% endblock extra_scripts %}
    
    <!--new-->


<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mdb.js' %}"></script>
    <!-- Initializations -->
    <script type="text/javascript">
      // Animations initialization
      new WOW().init();

    </script>
</body>
</html>