{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% block extra_head %} 
   <style>
       body {
        background-image: url("{% static 'images/drug2.webp' %}");
        height: 100%;
       }
   </style> 
{% endblock extra_head %}
    <div class="container" style="margin-top: 10%;">
           
              <div class="row" style="width: 50%; margin-left: 25%; margin-right: 25%;">
                  <div class="col-md">
                      <div class="card card-body"> 
                          <h4 class="card-title">
                              Add Medicine To Stock
                          </h4>
                       <form action="{% url 'stock:add_medicine' categories.id %}" method="post">
                           {% csrf_token %}
                           {{ form.as_p }}


                           <input type="submit" class='btn btn-sm btn-secondary' value="Add">
                       </form>
                      </div>
                     
                  </div>
                   
              </div>
                    
    </div>

{% endblock content %}
