{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% block extra_head %} 
   <style>
       body {
        background-image: url("{% static 'images/drug2.webp' %}");
        height: 100%;
       }
   </style> 
{% endblock extra_head %}
    <div class="container" style="margin-top: 10%;">
           
              <div class="row" style="width: 50%; margin-left: 25%; margin-right: 25%;">
                  <div class="col-md">
                      <div class="card card-body"> 
                          
                          <h4 class="card-title">
                              Medicines Stock
                              <a style="float:right;" href="{% url 'stock:add_category' %}" class="btn btn-sm btn-primary">
                                  add category
                                </a>
                          </h4>
                          
                        <table class="table table-sm">
                            <tr>
                                <th>Category</th>
                                <th>Veiw Available Medicines</th>
                                <th></th>
                                
                            </tr>
  
                            {% for category in categories %}
                            <tr>
                              
                              <td>
                                  {{ category.name }}
                              </td>
                              <td>
                                  <a href="{% url 'stock:medicine' category.id %}" class="btn btn-sm btn-info">
                                      View
                                  </a>
                              </td>
                             
                              <td>
                                <a href="{% url 'stock:add_medicine' category.id %}" class="btn btn-sm btn-info">
                                    Add Medicine
                                  </a>
                              </td>
                            </tr>
                            {% endfor %}
                        </table>
                      </div>
                     
                  </div>
                   
              </div>

              
                    
    </div>

{% endblock content %}
